<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

<div id="{CHANNEL}">
    <img v-if="message" :src="'data:image/jpg;base64,' + message">
    <p v-else>Listening...</p>
</div>

<style>
    #{CHANNEL} {
        float: left;
        margin: 5px;
        width: {WIDTH}%;
    }

    #{CHANNEL} img {
        image-rendering: pixelated;
        width: 100%;
    }
</style>

<script>
    new Vue({
        el: '#{CHANNEL}',
        data: {
            message: '',
            listener: new BroadcastChannel('{CHANNEL}')
        },
        methods: {
            onmessage(msg) {
                this.message = msg.data
            }
        },
        created() {
            this.listener.onmessage = this.onmessage
        }
    })
</script>